
/* General style */
h2{
  padding: 0;
  margin: 0;
}

/* Input Related style */
.search-box {
  padding: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.userInputbox-one,.userInputbox-two{
  height: 30px;
  font-size: 18px;
}

.getDataBtn{
  background-color: rgb(0, 17, 255);
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
}


/* User Related style */
.user-profile{
  margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
  
}
.user {
  display: flex;
  padding: 50px;
  border-radius: 50px;
}
.user-one{
  background-color: burlywood;
}
.user-two{
   background-color: cadetblue;
}

.click-this-btn {
  background-color: darkorchid;
  color: #fff;
  padding: 5px 9px;
  border-radius: 30px;
}
.single-user-item{
  box-shadow: 0 8px 22px -6px black;
  margin: 40px;
  padding: 30px;
  border-radius: 50px;
  background-color: rgb(238, 173, 32);
}